<div class="bg-black" style="background: #4f3a52">
  <div class="p-5">
    <div class="pt-5 pb-4">
      <h3 class="fw-light text-warning text-center mb-2"><%= blog.title %></h3>
      <h6 class="text-center text-white fw-lighter mt-3"><%= blog.short_description.capitalize %>.</h6>
    </div>
  </div>
</div>
