<div class="btn-toolbar justify-content-sm-between container mt-5">
  <div>
    <h1 class="font-weight-bold fw-bold">Blogs</h1>
  </div>
  <div class="input-group mr-4">
      <div class="me-5">
        <a href="<%= new_blog_path %>">
          <button class="btn rounded-pill bg-blue me-4"><b>New Blog</b></button>
        </a>
      </div>
  </div>
</div>

<% @blogs.each do |blog| %>

<div class="container bg-white p-3 mt-5 border rounded">
<h4><%= blog.title %></h4>
<hr>
<h5>Short description: <%= blog.short_description %></h5>
<p><%= blog.body %></p>
</div>
<% end %>
