<h1 class="text-center mt-5"><%= @blog.name %>'s detail</h1>
<div class="container mt-5">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Title</th>
      <th>short description</th>
      <th>body</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @blog.title %></td>
        <td><%= @blog.short_description %></td>
        <td><%= @blog.body %></td>
      </tr>
    </tbody>
  </table>
</div>
  
